# HAProxy User Authentication Configuration
# This file contains user credentials for protected endpoints
#
# IMPORTANT: Add your users before deploying!
#
# To generate a password hash:
#   openssl passwd -6 yourpassword
# Or use the helper script:
#   ./proxy/generate-password-hash.sh yourpassword
#
# Then add users below:

userlist dozzle_users
    # Example:
    # user admin password $6$...hash...
    # user viewer password $6$...hash...
    #
    # Add your users here:
